@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

/* Navbar */
nav {
  background-color: #eee;
  position: fixed;
  top: 0;
  display: flex;
  min-height: 75px;
  padding: 0px 20px;
  align-items: center;
}

.logo {
  width: 60vw;
}

.logo img {
  width: 300px;
}

ul.nav-links {
  display: flex;
  width: 35vw;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style: none;
}

li a {
  color: #000;
  text-decoration: none;
}
/* End navbar */

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-top: 50px;
  text-align: center;
}

main h2 {
  margin-bottom: 20px;
}

form input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  display: inline-block;
  margin: auto;
}

form input[type="submit"] {
  max-width: 150px;
  width: 100%;
  background-color: #f1c40f;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  border: 0;
  border-radius: 2px;
  padding: 5px 16px;
  margin: 15px 0;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

form input[type="submit"]:hover {
  background-color: #ffa500;
}
/* End main */

/* Features */
#features {
  margin-top: 30px;
}

.single-feature {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-feature .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8c00;
  height: 125px;
  width: 20%;
}

.single-feature .feature-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 55%;
  padding: 5px;
}

/* End features */

@media (max-width: 320px) {
  /* Navbar */
  nav {
    padding: 0;
  }
  /* End navbar */
}

@media (max-width: 600px) {
  /* Navbar */
  nav {
    flex-wrap: wrap;
  }

  .logo {
    margin-top: 15px;
    width: 100%;
  }

  .logo img {
    display: block;
    margin: 0 auto;
  }

  ul.nav-links {
    width: 100%;
  }
  /* End navbar */

  /* Features */
  .single-feature .icon {
    display: none;
  }

  .single-feature .feature-description {
    width: 90%;
    text-align: center;
    padding: 0;
    height: 130px;
  }
  /* End features */
}

@media (max-width: 768px) {
  /* Navbar */
  nav {
    width: 100%;
  }

  ul.nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .nav-links li {
    padding-bottom: 5px;
  }
  /* End navbar */

  /* Main */
  main {
    margin-top: 125px;
  }
  /* End main */

  /* Features */
  #features {
    margin-top: 0;
  }
  /* End features */
}
